.biggerContain {
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnContain {
  padding: 0px;
  margin: auto;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-start;

}

.sortRes {
  color: #604c8d;
  padding: 0px;
  width: 200px;
  background-color: #f8f8f8;
  height: 50px;
  font-size: 12px;
  /* border-radius: 1px;
  border: 1.5px solid #604c8d; */
  font-weight: bold;
}

.sortRes:hover {
  border-bottom: 1.5px solid #604c8d;
  color: #604c8d;
}

.sRActive {
  border-bottom: 1.5px solid #604c8d;
}


.currResContain{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
