.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  overflow-y: scroll;
  padding: 0;
}

label {
  text-align: left;
  float: left;

}

.child .slctTime {
  align-self: left;
}

.roomRec {
  text-align: left;
  /* width: 2rem;
  box-sizing: content-box;
  align-self: center;
  font-size: 14px;
  padding: 20px;
  margin-left: 20px;
  cursor: pointer; */
  cursor: pointer;
}

.roomRecContain {
  margin-top: 20px;
  text-align: left;
  box-sizing: content-box;
  width: 30rem;
  font-size: 14px;
  padding-left: 20px;
  margin-left: 0px;
}

.resdv {
  text-align: left;
  width: 100%;
}

.rmAttribute {
  color: #A324CF;
}
