.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.roomRec {
  width: 6rem;
  box-sizing: content-box;
  align-self: center;
  font-size: 14px;
  padding: 20px;
  margin-left: 20px;
}

.roomRecContain {
  box-sizing: content-box;
  width: 30rem;
  align-self: flex-start;
  font-size: 14px;
  padding-left: 20px;
  margin-left: 10px;
}

.resdv {
  text-align: center;
  width: 90%;
}

.rmAttribute {
  color: #A324CF;
}
