.stuffBehind {
  background-color: #eaebed;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  color: #5C5C5C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 0;
  overflow-x: hidden;
  border-top: 2px solid #5C5C5C;
  object-fit: fill;
}

.blurred {
  filter: blur(3px);
}
