#topBar {
  font-size: 10rem;
  width: 100%;
  height: 100%;
  position: static;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  order: 1;
  background-color: white !important;
  overflow-x: hidden;
  padding: 10px;
}


.topBar {
  flex-direction: row;
  background-color: white !important;

  align-self: flex-start;
  /*background: url(" + __webpack_require__( "./Texture.svg") + "), -webkit-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url(" + __webpack_require__( "./Texture.svg") + "), -o-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url('./Texture.svg'), linear-gradient(90deg, #FF3CAC, #784BA0 100%);*/
  width: 100%;
  box-shadow: 0px 5px 5px 0px #DEDEDE;
}
.back {
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  fill: pink;
  order: 1;
  align-self: flex-start;

}

.backIcon {
  width: 3rem;
  order: 1;
  margin-top: 10px;
}
.back :focus, .back :active {
  outline: none;
  border: none;

}
button:focus {
  outline: none;
}

.reserve {
  font-size: .9rem;
  margin-right: 20px;
  align-self: baseline;
  color: #742abf;
  height: 100%;
  display: inline;
  padding-bottom: -20px;

}

.active {
  font-size: .9rem;
  font-weight: bold;
  border-bottom: 3px solid#742abf !important;
  margin-top: 10px;
  padding: 0px;
  padding-bottom: -20px;
  color:#742abf;
  height: 100%;
}

.usersName {
  color: #5C5C5C;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 30%;
  align-self: center;
  text-align: right;
  margin-right: 50px;
  padding: 0;
  line-height: 1;
  }
#appNameContainer {
  display: flex;
  width: 30rem;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  margin-left: 100px;
  align-items: center;
}
.reserveContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 10rem;
  line-height: normal;
  align-items: baseline;
  justify-content: baseline;
  height: 100%;
}

.appName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: left;
  margin-left: 20px;
  letter-spacing: 0.18em;
  font-variant: small-caps;
  width: 100px;
  color: #732abf;
  font-weight: bold;
  background-color: white;
  order: 2;
}
/* .logoContainer {
  order: 2;
  align-self: flex-start;
  margin-left: 0px;
  overflow-x: auto;
  margin-top: 9px;
}
.logo {
  width: 7rem;
  -webkit-transform: rotate(0deg);
  color: blue;
  } */

  @media (max-width: 1200px) {
    .topBar {
      font-size: 5rem;
    }
    #appNameContainer {
      width: 0rem;
      font-size: .2rem;
    }
  }
@media (max-width: 600px) {



      .backIcon {
        width: 2rem;
      }
}
  @media (max-height: 700px) {

  }
  @media (max-width: 420px) {

    .card {
      height: 10rem;
    }
    .usersName {
      margin-top: 10%;
      font-size: 16px;
      }
  }
  @media (max-width: 400px) {


  }
  @media (max-width: 350px) {

  }
