#topBar {
  font-size: 12rem;
  width: 100%;
  height: 100%;
  line-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  background-color: white !important;
  }

/* a:-webkit-any-link {
  color: #491A88;
} */




.topBar {
  flex-direction: row;

  justify-content: space-between;
  background-color: white !important;

  align-self: flex-start;
  padding: 10px;
  /*background: url(" + __webpack_require__( "./Texture.svg") + "), -webkit-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url(" + __webpack_require__( "./Texture.svg") + "), -o-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url('./Texture.svg'), linear-gradient(90deg, #FF3CAC, #784BA0 100%);*/
  background-blend-mode: multiply, normal;
  mix-blend-mode: multiply;
  width: 100%;
  border-bottom: 1px solid #5C5C5C;
}
.back {
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  fill: pink;
}

.backIcon {
  width: 3rem;
}
.back :focus, .back :active {
  outline: none;
  border: none;

}
button:focus {
  outline: none;
}

.reserve {
  font-size: 1.1rem;
  margin: 10px 10px -22px 20px;
  padding-bottom: 25px;

  align-self: center;
  color: #491A88;
  height: 100%;
  display: inline;

}

.active {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #491A88 !important;
  align-self: center;
}

/* .reserve:focus {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #491A88;
}
.reserve:focus:active {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #491A88;
} */

.usersName {
  color: #5C5C5C;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 30%;
  margin-top: 1rem;
  text-align: right;
  margin-right: 50px;
  padding: 0;
  line-height: 1.5;
  }
#appNameContainer {
  font-size: 10rem;
  width: 100%;
  height: 100%;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white !important;
}
.reserveContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 10rem;
  line-height: normal;
}

.appName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 0.18em;
  font-variant: small-caps;
  color: #762289;
  margin-left: 0rem;
  margin-right: 0rem;
  z-index: 1;
  align-self: flex-start;
  background-color: white;
}
.logoContainer {
  order: 2;
  align-self: flex-start;
  margin-left: 0px;
  overflow-x: auto;
  margin-top: 9px;
}
.logo {
  width: 7rem;
  -webkit-transform: rotate(0deg);
  color: blue;
  }

  @media (max-width: 1200px) {
    .usersName {
      margin-top:2rem;
    }
    .reserveContainer {
      margin-left: 0rem;
    }
  }
@media (max-width: 600px) {

    .appNameContainer {
      padding-bottom: 3rem;
      line-height: 3rem;
      margin-left: -1rem;
    }
    .usersName {
      margin-top: 40px;
      }

      .backIcon {
        width: 2rem;
      }
}
  @media (max-height: 700px) {

  }
  @media (max-width: 420px) {
    .appName {
      margin-bottom: 0rem;
      line-height: 3rem;
      margin-left: -1.5rem;
      font-size: 35px;
      margin-top: 2rem;
    }

    .logoContainer {
      margin-left: -25px;
    }
    .card {
      height: 10rem;
    }
    .usersName {
      margin-top: 10%;
      font-size: 16px;
      }
  }
  @media (max-width: 400px) {
    .appName {
      margin-top: .5rem;
      line-height: 3rem;
      margin-left: -1.5rem;
      font-size: 35px;
    }

  }
  @media (max-width: 350px) {
    .appName {
      margin-bottom: 1.5rem;
      margin-left: -1.8rem;
      margin-top: .5rem;
    }
    .logoContainer {
      margin-left: -28px;
    }
  }
