#topBar {
  font-size: 10rem;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: static;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  overflow-x: hidden;
  box-shadow: 3px 3px 3px 3px;
}
.topBar {
  flex-direction: row;
  background-color: white !important;
  z-index: 100;
  align-self: flex-start;
  max-width: 100%;
  /*background: url(" + __webpack_require__( "./Texture.svg") + "), -webkit-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url(" + __webpack_require__( "./Texture.svg") + "), -o-linear-gradient(left, #FF3CAC, #784BA0 100%);
  background: url('./Texture.svg'), linear-gradient(90deg, #FF3CAC, #784BA0 100%);*/
  width: 100%;
  box-shadow: 0px 4px 15px 3px #bbbbbb;
}
.appName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: left;
  margin-left: 15px;
  height: 100%;
  letter-spacing: 0.18em;
  font-variant: small-caps;
  width: 100px;
  font-weight: bold;

  order: 3;
}

.back {
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  fill: pink;
  order: 0;
  align-self: center;
  justify-self: flex-start;
}

.backIcon {
  width: 1rem;
  order: 1;
  margin-top: 0px;
  margin-left: 20px;
  vertical-align: middle;
}
.back :focus, .back :active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.vertLine {
  border: 1px solid #686868;
  align-self: center;
  height: 40px;
  margin-left: 30px;
  width: 0px;
}

.reserve {
  font-size: .9rem;
  margin-right: 20px;
  align-self: baseline;
  height: 100%;
  color: unset;
  display: inline;
  padding-bottom: -20px;
}

.reserve:hover, .active:hover {
  color: #8c32a1 !important;
}

.reserve:focus, .active:focus {
  color: #8c32a1 !important;
}

.active {
  align-self: baseline;
  font-size: .9rem;
  font-weight: bold;
  border-bottom: 3px solid #8c32a1 !important;
  margin-top: 2rem;
  padding: .3rem;
  padding-bottom: 1.8rem;
  color: #8c32a1;
  height: 100%;
}

.userContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-end;
  align-self: center;
  width: 100%;
  height: 100%;
}

.arrow {
  font-size: 12px;
  width: 20px;
  height: 20px;
  justify-self: flex-end;
  order: 200;
}

.usersName {
  order: 5;
  color: #686868;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  align-self: center;
  text-align: right;
  padding: 0;
  margin-right: 3rem;
  line-height: 1;
}
#appNameContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  align-items: center;
}
.reserveContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-left: 10rem;
  width: 100%;
  justify-self: center;
  line-height: normal;
  align-items: baseline;
  justify-content: baseline;
  height: 100%;
}


.logoContainer {
  order: 2;
  align-self: center;
  justify-self: flex-start;
  overflow-x: auto;
  margin-top: 0px;
  margin-left: 5px;
}
.logo {
  width: 35px;
  height: 100%;
}
.oval {
  order: 0;
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-right: 1rem;
  border: 1px solid #E5CCF5;
  align-self: center;
  justify-self: flex-end;
}


  @media (max-width: 1200px) {
    #topBar {
      font-size: 5rem;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .usersName, .appName, .reserveContainer, .oval, .vertLine, .userContain {
      display: none;
      width: 0px;
      height: 0px;
    }
    .logoContainer {
      justify-self: flex-end;
    }
    #appNameContainer {
      justify-content: flex-end;
      padding-right: 30px;
    }
    .logo {
      justify-self: flex-end;
      width: 30px;
    }
    .vertLine {
      margin-left: 20px;
    }

  }
@media (max-width: 600px) {
      .backIcon {
        width: .8rem;
      }
}
  @media (max-height: 700px) {

  }
  @media (max-width: 420px) {

    .card {
      height: 10rem;
    }
    .usersName {
      margin-top: 10%;
      font-size: 16px;
      }
  }
  @media (max-width: 400px) {


  }
  @media (max-width: 350px) {

  }
