.base {
  background-color: white;
  radius: 4px;
  box-shadow: 0px 2px 2px #DEDEDE;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
  padding: 15px;
  box-sizing: content-box;

}

.label {
  font-weight: 400;
  color: #333;
  font-size: 13px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: linear-gradient(to right, #C8C8C8 0%, #F7579A 15%,#979797 80%, #8944AB 100%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: -webkit-transform 2s, transition-duration 3s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 40px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    border: 2px solid #F7579A ;
}

.line{
  width: 100%;
  height: 0px;
  border: 1px solid #DEDEDE;
  margin-top: 1rem;
}

.Accordion__header {
  font-size: 10px;
}

.clear {
  font-size: 11px;
  color: #998dea;
  float: right;
  margin-top: 0px;
  margin-right: 20px;
  background-color: white;
}

input {
  background-color: white;
}
button {
  background-color: white;
  align-self: center;
  align-items: center;
}

.apply {
  color: 	#6454d0;
  align-self: center;
  align-items: center;
  font-size: 13px;
  border-radius: 3px;
  padding: 10px;
  padding-left:  40px;
  padding-right: 40px;
  border: solid 2px #964daf;
  /* -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
 -webkit-border-image:
   -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
 -moz-border-image:
   -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
 -o-border-image:
   -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
 border-image:
   linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%; */
  /* -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#9d93ec), to(#9C48AC)) 10 200%; */
  /* background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(yellow)) 2 95%; */
  /* background-image: linear-gradient(to right, #9d93ec, #6354d0, #964daf); */
  /* background: -webkit-linear-gradient(left, #FB5899,  #A324CF 100%); */
}



.title {
  color: #676767;
  text-align: left;
  border-radius: 4px;
  width: 90%;
  font-weight: bold;
  font-size: 12px;
  align-self: center;
}

.bigTitle {
  /*background: -webkit-linear-gradient(left, #FD599A, #000000 50%, #8143AC 100%);*/
  color: #676767;
  border-radius: 4px;
  width: 100%;
  font-size: 15px;
  margin-left: 20px;
  padding: 10px;

}

.child .base {
  box-shadow: none;
  border-bottom: 2px solid #DEDEDE;
  padding: 0px;
  align-self: center;

}

.child {
  padding-bottom: 5px;
  align-self: flex-start;
  width: 100%;
}

.child .lastItem{
  border-bottom: none;
  text-align:  center;
  align-self: flex-start;
}

.amenity {
  color: #491A88;
  text-align: left;
  border-radius: 4px;
  width: 100%;
  font-size: 10px;
  margin-left: -80px;
  padding: 5px;
  align-self: flex-start;
}


@media (max-width: 1000px) {
  .title {
    margin-left: 0px;
  }
  .filterbx {
    margin-left: -35px;
  }

}
