#filterdv {
  border-bottom: none;
  align-items: center;
  margin-right: 20px;
}

select.form-control, textarea.form-control, input.form-control {
  font-size: 12px;
  border: 2px solid #9f95ed;
}
select.form-control {
  width: 40%;
  padding: 3px;
  margin-left: 20px;
  border: 2px solid #9f95ed;
}

.check:active, .check:focus {
  font-weight: bold;
}

select.form-control:active {
  width: 50%;
  padding: 3px;
  margin-left: 20px;
  border: 2px solid #9f95ed;
  box-shadow: none;
}
.roomRec {
  cursor: pointer;
}

.base {
  font-size: 12px;
}

.filterbx {
  border-radius: 4px;
  border-bottom: 2px solid #DEDEDE;
  align-self: center;
}

input {
  font-size: 12px;
  align-items: center;
}

button.apply {
  align-self: center;
  align-items: center;
}

.applyDv {
  text-align: center;
  align-self: center;
  align-items: center;
}
