.filterdv {
  border-bottom: none;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;

}

.checkB {
  display: flex;
  flex-direction: row;
}

.srchFilterDv {
  width: 90%;
  margin-top: 0px;
}

.ddcontainer {

  width: 80%;
  margin-left: 10px;
}
.calendarContainer {
  width: 85%;
  margin-left: 20px;
}

select.form-control, textarea.form-control, input.form-control {
  font-size: 12px;
}
select.form-control {
  width: 100%;
  border-radius: 5px;
  padding: 2px;
  border: none;
  border-image-slice: 1;
  border-width: 2px;
}

.check:active, .check:focus {
  font-weight: bold;
}

select.form-control:active, select.form-control:focus {
  width: 100%;
  padding: 3px;
  box-shadow: none;
  border-radius: 5px;
}

.timeRange {
  width: 40%;
  margin-left: 0px;
}

.rangeSelectDv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.roomRec {
  cursor: pointer;
}


.base {
  font-size: 12px;
}


.bigTitle {
  width: 100%;
  font-size: 17px;
  margin-left: 15px;
  padding-top: 5px;
  font-weight: bold;
}
.title {
  text-align: left;
  border-radius: 4px;
  width: 90%;
  font-weight: bold;
  font-size: 13px;
  align-self: center;
  margin-top: 10px;
}

.clear {
  font-size: 11px;
  color: #805CA2;
  float: right;
  margin-top: 2px;
  margin-right: 12px;
  background-color: white;
}

.form-group {
  margin-bottom: 0px;
}

.filterbx {
  border-radius: 0px;
  border-bottom: 2px solid #DEDEDE;
  align-self: center;
}

.noBo {
  border-bottom: none;
  align-self: flex-start;
  justify-self: flex-start;
}


input {
  font-size: 12px;
  align-items: center;
}

button.apply {
  align-self: center;
  align-items: center;
}

.applyDv {
  text-align: center;
  align-self: center;
  align-items: center;
  margin-bottom: -20px;
}

.apply {
  color: 	white;
  align-self: center;
  align-items: center;
  font-size: 13px;
  border-radius: 3px;
  padding: 10px;
  margin: auto;
  padding-left:  40px;
  padding-right: 40px;
  /* background: linear-gradient(to right, #681996 0%, #e255c1 40%, #f575ad 60%, #ffc99b 100%); */
}
