.rrBorder {
  width: 100%;
}

.recImg {
  width: 100px;
}
.recImgDv {
  width: 48%;
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 15px;
}

.topCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.roomInfo {
  line-height: 20px;
  font-size: 13px;
  margin-left: -10px;
}

.recTitle {
  text-align: right;
  width: 45%;
}
.roomRec2 {
  /* border: 2px solid #e5e1ff;
  border-bottom: 2px solid #e5e1ff !important; */
  background-color: white;
  padding: 20px;
  box-shadow: none;
  border-radius: 5px;
}

.selected {
  border-color: #afa8ef !important;
  box-shadow: 0 3px 4px 0 #c7c5c5 !important;
}

.roomTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  margin-left: -10px;
}

.time {
  font-variant: small-caps;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
}

/* .timeBtn {
  font-size: 11px;
  color: #e255c1;
  padding: 5px 10px;
  border: solid 1.5px #e255c1;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 400;
} */

/* .btnSelected {
  /* background: linear-gradient(to right, #681996 0%, #e255c1 60%, #ff6cb3 85%, #ffd17d 100%); */
  /*background-color: #8c32a1;
  border: solid 1.5px #8c32a1;
  color: white;
  padding: 5px 10px;
}

.timeBtn:hover {
    box-shadow: 0px 1px 10px 1px;
} */
