.rrBorder {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid #e5e1ff;
  padding: 10px;
  cursor: default;
}

.rightSide {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 20%;
}

.attDv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;

}

.attribute {
  padding: 5px 25px 0px 10px;
}

.att {
  font-weight: bold;
  width: 20px;
}

.roomRec2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px 50px 50px;
  cursor: default;
}

.map {
    z-index: 0 !important;
    margin-right: 20px;
    background-color: #f4f4f4 !important;
    border-radius: 5px;
    padding: -2px;
}

.currMD {
  font-size: 20px;
}

.mapImg {
  width: 140px;
  border-radius: 5px;
  border: 2px solid #afa8ef;
  opacity: 0.7;
}

.line2 {
  border-bottom: 1px solid #dcdcdc;
  border-radius: 0px;
  margin-left: 20px;
}

.mapTxt {
  position: absolute;
  background: transparent;
  font-variant: small-caps;
  top: 50%;
  margin-top: -20px;
  font-weight: bold;
  font-size: 18px;
  z-index: 100 !important;
  margin-left: 5px;
}

.cancel {
  border: 2px solid #a9a9a9;
  margin: 10px;
  border-radius: 5px;
  color: #a9a9a9;
  padding: 4px 20px 4px 20px;
  align-self: flex-end;
}

.cancel .cancelTxt {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 15;
  right: 10%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}


.cancel:hover .cancelTxt {
  visibility: visible;
  opacity: 1;
}

.currDate {
  font-size: 15px;
  font-weight: bold;
  color: #182952;
  margin-right: 10px;
  text-align: center;
}

.currLine {
  border-right: 1px solid #e5e3f4;
  margin-right: 10px;
  height: 100px;
  align-self: center;
  justify-self: center;
}

.recImg {
  width: 120px;
}
.recImgDv {
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 15px;
}

.topCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 10px 0px 10px 0px;
  cursor: default;
}

.roomInfo {
  line-height: 20px;
  font-size: 13px;
  padding-left: 10px;
  width: 100%;
}

.icon {
  width: 20px;
}

.amenityDv {
  align-self: flex-start;
  justify-self: flex-start;
  margin-right: 3rem;

}

.attA {
  margin: 0px 10px 0px 10px;
}

.recTitle {
  text-align: right;
  width: 45%;
}
.roomRec {
  position: relative;
  background-color: white;
  padding: 20px;
  box-shadow: none;
  border-radius: 0px;
}

.selected {
  border-color: #afa8ef !important;
  box-shadow: 0 3px 4px 0 #c7c5c5 !important;
}

.roomTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.time {
  font-variant: small-caps;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;

}

.tBtnContain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.questionContain{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.qInput, .qInput:focus {
  outline: none;
}

.qSubmit {
  border-radius: 5px;
  padding: 4px 7px 4px 7px;
  font-weight: bold;
}
.qSubmit:hover {
  box-shadow: 0px 0px 9px 0px;
  transition: .2s;
}

.success {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: green;

}


.medRecImgDv1 {
  margin: 10px;
  align-self: left;
  text-align: left;
}
.medTime {
  align-self: flex-start;
  margin-bottom: 20px;
  padding-left: 30px;
}

.medTopSide1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  padding: 10px;
}

.medrrBorder{

}
.medRoomRec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.medCurrLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.medCurrDate {
  font-size: 15px;
  font-weight: bold;
  color: #182952;
  margin-right: 10px;
  text-align: center;
}
.medRecImgDv {
  text-align: center;
  padding: 10px;
  align-self: center;
}
.medRecImg {
  max-width: 120px;
}
.medRoomInfo {
  padding: 10px;
  width: 100%;
}
.medRoomTitle {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}
.medBottomCard {
  display: flex;
  flex-direction: column;
}
.medAttDv {
  display: flex;
  flex-direction: column;

}

.medMap {
  width: 120px;
  z-index: 0 !important;
  background-color: #f4f4f4 !important;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.medMapImg {
  max-width: 120px;
  opacity: .5;
  border-radius: 5px;
  border: 2px solid #afa8ef;
  text-align: center;
}
.medMapLink {
  position: relative;
  text-align: center;
}
.medMapTxt {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-color: transparent;
  font-weight: bold;
  top: 0 auto;
  bottom: 0px;
  font-size: 19px;
  font-variant: small-caps;
}

.medCancel {
  align-self: center;
}

.medAtt {
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
}

.medAttA {
  padding: 10px;
}
.medAmenityDv {
  padding: 10px;
}


@media (max-width: 1200px) {
  .rrBorder {
    margin: auto;
  }
  .attDv {
    width: 100%;
  }
  .roomInfo {
    width: 100%;
  }
  .recImgDv {
    padding-left: 0px;
    align-self: center;
    text-align: center;
  }
  .recImg {
    width: 100px;
  }
  .roomTitle {
    font-size: 14px;
    width: 100%;
  }
}
