.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.app {
  height: 100%;
  font-size: 40rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.everyContain{
  height: 100%;
  max-width: 100%;
}

.rts {
  background-color: #f4f4f4;
  max-width: 100%;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 75px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}

.topBar {
  background-color: white;
}

#homeLayout {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.home {
  width: 100%;
  margin-left: 3%;
  margin-right: 5%;
}

.flexy {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.joinTxt {
  margin-top: 10%;
  padding: 10px;
  padding-right: 25px;
  font-size: 2.5rem;
}

.navLink {
  text-decoration: none;
  /* width: 100%; */
  border: none;
}

@media (max-width: 1200px) {
  .rts {
    top: 59.07px;
  }
}

@media (max-width: 600px) {
  #homeLayout {
    overflow-y: visible;
    }
  .app {
    height: calc(100% + 1100px);
    }

}
