.font {
  font-family: 'Montserrat', sans-serif;
}

input {
  border: 1.5px solid #ccc;
  border-radius: 4px;
}
.bckgd {

}

.normalCol {
  color: #686868;
}

.mutedPink {
  background-color: #fbedf4;
}

.prettyPeach {
  border: 1px solid #fde7ce;
}

.purple {
  color: #8c32a1;
}

.purpleBckgd {
  background-color: #8c32a1;
}

.purpleBrdr {
  border: solid 1.5px #8c32a1 !important;
}

.lightMauve {
  background-color: #c7c1c1;
}

.borderHack {
  border-radius: 5px;
  padding: 2px;
}

.attribute {
  font-weight: bold;
}

.gradient {
  /* background: linear-gradient(to right, #681996 0%, #e255c1 40%, #f575ad 60%, #ffc99b 100%); */
  background: linear-gradient(79deg, #561389, #fb5dbc);
}

.pink {
  color: #e255c1;
  border: 1.5px solid #e255c1;
}
