.font {
  font-family: 'Montserrat', sans-serif;
}

input {
  border: 1.5px solid #ccc;
  border-radius: 4px;
}
.bckgd {

}

.normalCol {
  color: #545454;
}

.mutedPink {
  background-color: #fbedf4;
}

.prettyPeach {
  border: 1px solid #fde7ce;
}

.purple {
  color: #604c8d;
}

.purpleBckgd {
  background-color: #604c8d;
}

.purpleBrdr {
  border: solid 1.5px #604c8d !important;
}

.drkBlue {
  color: #182952;
}

.silver {
  background-color: #c7c1c1;
}

.lightPurpBrdr {
  border: 1px solid #beb3e8 !important;
}

.tomato {
  background-color: #fa7268;
}


.borderHack {
  border-radius: 5px;
  padding: 2px;
}


.gradient {
  /* background: linear-gradient(to right, #681996 0%, #e255c1 40%, #f575ad 60%, #ffc99b 100%); */
  /* background: linear-gradient(79deg, #604c8d, #fb5dbc); */
  background-image:  linear-gradient(to right, #604c8d, #a343a8, #ff5a59);

}

.tGradient {
  /*background: linear-gradient(79deg, #604c8d, #fb5dbc);*/
   background-image: linear-gradient(to right, #604c8d, #a8439f, #ff5a59 );
}

.pink {
  color: #e255c1;
  border: 1.5px solid #e255c1;
}
