*{
  margin: 0;
  text-decoration: none;
  max-width: 100%;
}

a:focus, a:hover {
  color: #491A88;
  text-decoration: none;
  outline: none;
}

a:-webkit-any-link {
  text-decoration: none;
}



html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  overflow-x: hidden;
  max-width: 100%;
}
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  overflow-x: hidden;
}

button {
  border: 0;
}

#root {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.navbar, .navbar-default {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    min-height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    text-decoration-style: none;
    background-color: white;
  }

  a:-webkit-any-link {
    text-decoration: none;
  }


#transparent {
  position: absolute;
  height: 100%;
  top: calc(14rem + 105px);
  padding: 15px;
  font-size: 3rem;
  width: 100%;
  z-index: 20000;
  text-align: center;
  background-color: rgba(198, 198, 198, 0.6);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 2px solid #5C5C5C;
  border-bottom: 2px solid #5C5C5C;
}



#landingPg {
  position: absolute;
  height: 100%;
  padding: 10px;
  font-size: 3rem;
  top: calc(6rem + 10px);
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  z-index: 20000;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-overflow: wrap;
  align-items: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 2px solid #5C5C5C;
  border-bottom: 2px solid #5C5C5C;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

@media (max-height: 700px) {

  #transparent {
    top: calc(3rem + 160px);
  }
}
