*{
  margin: 0;
  text-decoration: none;
  max-width: 100%;
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  overflow-x: hidden;
  max-width: 100%;
  width: 100vw;
}
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  overflow-x: hidden;
}

button {
  border: 0;
}

#root {
  background-color: white;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}



.navbar, .navbar-default {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    min-height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    text-decoration-style: none;
    background-color: white;
  }

  a:-webkit-any-link {
    text-decoration: none;
  }




select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
