
#bannerContainer {
  font-size: 2rem;
  width: 100%;
  order: 2;
  text-align: center;
  height: 15rem;
  background-color: white;
  color: #5C5C5C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  align-items: center;

  display: flex;

  flex-direction: row;

  justify-content: center;
  border-top: 2px solid #5C5C5C;
  overflow-x: hidden;
}


@media (max-height: 700px) {
  #bannerContainer {
    height: 8rem;
  }

}
@media (max-width: 420px) {

  #bannerContainer {
    height: 9rem;
  }

}
@media (max-width: 350px) {

  #bannerContainer {
    height: 8rem;
  }

}
